* {
  margin: 0;
  padding: 0;
}

h1 {
  color: #d4d4d4;
}

header {
  height: 10vh;
  background: linear-gradient(#7633c2, #ab70ee);
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}
#dojo-section .container {
  height: 80vh;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    color: #636363;
  }
}

footer {
  height: 10vh;
  background: linear-gradient(#ab70ee, #7633c2);
  box-shadow: 1px -2px 8px rgba(0, 0, 0, 0.5);
}
